<div class="col-12 col-md-6 mx-auto my-4 text-center">
    {{#if success}}

    <p>{{t "passwordConfirm.success"}}</p>
    <div class="text-center">
        <a class="btn btn-success" href="eatuntil://">{{t "passwordConfirm.goToApp"}}</a>
    </div>

    {{else}}

    <p>{{t "passwordConfirm.error"}}</p>

    <span>{{error}}</span>

    {{/if}}
</div>
